* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

.header, .hero-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.hero-main {
    flex-wrap: wrap;
    padding-bottom: 60px;
}

#headshot {
    max-height: 625px;
    height: auto;
    width: auto;
    flex: 0;
    padding-top: 30px;
}

#xp-body, #about-body {
    padding-top: 30px;
}

.fun-facts, .call-to-action {
    padding: 30px 100px;
}

.call-to-action {
    display: flex;
    align-items: center;
}

#awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.xp-headers{
    color: #F9FAF8;
}

ul {
    list-style-type: none;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header a, .hero-main p {
    font-size: 18px;
    color: #E5E7EB;
}

#info-head {
    align-self: center;
}

.fun-facts {
    background-color: #E5E7EB;
    font-size: 28px;
    color: #1F2937;
    font-weight: 100;
}

.footer {
    text-align: center;
    color: #F9FAF8;
    padding: 30px 0px;
    justify-content: flex-end;
}

.header, .footer, .hero-main {
    background-color: #2f4630;
}

.link-name {
    text-align: center;
}

.landing-pics {
    background: transparent;
    width: 25px;
    height: auto;
    margin: 0px 5px;
  }

#images {
    display: flex;
    justify-content: center;
}

.landing-text {
    text-align: center;
}

#resume-link {
    text-decoration: none;
    color: white;
}