{% extends "base.html" %}
{% block title %}About Conrad{% endblock %}
{% block content %}
<div class="hero-main">
    <div class="hero-text">
      <h1 id="awesome">Me, Myself and I</h1>
        <p>As a first-generation low-income immigrant from Nigeria, my journey
          to The University of Chicago as a Questbridge Scholar in Computer
          Science has been marked by resilience and determination. Transitioning
           from public education in an underserved community to a prestigious
           university has given me profound insights into educational disparities
           and fueled my commitment to creating equitable opportunities.</p>

        <p>My dedication to bridging educational gaps is evident in my work with
          Code Your Dreams, where I developed a 15-hour AI course, demonstrated a
           WhatsApp Chatbot, and presented the curriculum to teachers in Burundi.
           My passion for service is reflected in over 300 hours of volunteer work,
           aiming to use my strengths to create opportunities for the less fortunate
           and raise Black and Brown voices in my communities.</p>
    </div>
</div>
{% endblock %}