{% extends "base.html" %}
{% block title %}About Conrad{% endblock %}
{% block content %}
<div class="hero-main">
    <div class="hero-text">
      <h1 id="awesome">Me, Myself and I</h1>
        <p>As a first-generation low-income immigrant from Nigeria, my journey
          to The University of Chicago as a Questbridge Scholar in Computer
          Science has been marked by resilience and determination. Transitioning
           from public education in an underserved community to a prestigious
           university has given me profound insights into educational disparities
           and fueled my commitment to creating equitable opportunities.</p>

        <p>My dedication to bridging educational gaps is evident in my work with
          Code Your Dreams, where I developed a 15-hour AI course, demonstrated a
           WhatsApp Chatbot, and presented the curriculum to teachers in Burundi.
           My passion for service is reflected in over 300 hours of volunteer work,
           aiming to use my strengths to create opportunities for the less fortunate
           and raise Black and Brown voices in my communities.</p>

           <p>These experiences have also been enriched through my involvement in various organizations:</p>

        <ul>
            <li><strong>UChicago Association for Computer Machinery - Technical Liaison</strong> (December 2023 - Present):
                <ul>
                    <li>Collaborate with Machine Learning and Software Engineering committees to plan and execute events.</li>
                    <li>Serve on the executive board, contributing to strategic decisions and shaping the club's broader vision.</li>
                    <li>Curate and share tech-related opportunities within the club's Slack channels and on a biweekly newsletter.</li>
                </ul>
            </li>
            <br>
            <li><strong>UChicago Barbell Club - Internal Vice-President</strong> (November 2023 - Present):
                <ul>
                    <li>Oversee internal logistics, coordinate meetings, and lead social media initiatives.</li>
                </ul>
            </li>
            <br>
            <li><strong>Colorstack Member:</strong> Active participant in an organization dedicated to increasing the number of Black and Latinx college students in computing.</li>
        </ul>
    </div>
    <h1 id="awesome">Projects</h1>
    <div class="projects-grid">
      <a href="https://github.com/uchicago-cs/chigame" class="project-square" data-background="ChiGame">
          <div class="project-content">
              <h2>ChiGame</h2>
          </div>
      </a>
      <a href="https://github.com/uchicago-cmsc14300-aut-2023/coursework-cuyakonwu/tree/main/proj2" class="project-square" data-background="Uplift">
          <div class="project-content">
              <h2>Uplift</h2>
          </div>
      </a>
      <a href="https://github.com/uchicago-cmsc14200-spr-2023/project-cuyak-giomhern-zixiaowang-poojavegesna" class="project-square" data-background="Reversi">
          <div class="project-content">
              <h2>Reversi</h2>
          </div>
      </a>
    </div>
</div>
{% endblock %}
