{% extends "base.html" %}
{% block title %}Conrad Uyakonwu's Portfolio - Experience{% endblock %}
{% block content %}
<div class="hero-main">
    <div class="hero-text">
        <h1 id="awesome" class="xp-headers">Work Experience</h1>
        <ul>
            {% for experience in work_experiences %}
            <li>
                <h3 class="xp-headers"><em>{{ experience.title }}</em> at {{ experience.company }}</h3>
                <p>{{ experience.description }}</p>
                <p><strong>Duration:</strong> {{ experience.duration }}</p>
            </li>
            {% endfor %}
        </ul>
        <h2 class="xp-headers">Education</h2>
        <ul>
            {% for edu in education %}
            <li>
                <h3 class="xp-headers">{{ edu.degree }} from {{ edu.institution }}</h3>
                <p>{{ edu.description }}</p>
                <p><strong>Year:</strong> {{ edu.year }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <h1 id="awesome">Projects</h1>
    <div class="projects-grid">
      <a href="https://github.com/uchicago-cs/chigame" class="project-square" data-background="ChiGame">
          <div class="project-content">
              <h1 class="project-title">ChiGame</h2>
          </div>
      </a>
      <a href="https://drive.google.com/drive/folders/1j0UT_velhQtT_nM3n3RjN-3vtv70gqp_?usp=sharing" class="project-square" data-background="Uplift">
          <div class="project-content">
              <h1 class="project-title">Uplift</h2>
          </div>
      </a>
      <a href="https://drive.google.com/drive/u/0/folders/1x63woISK2DLDpuSoHW0jDZ3FG0cphx8R" class="project-square" data-background="Reversi">
          <div class="project-content">
              <h1 class="project-title">Reversi</h2>
          </div>
      </a>
</div>
{% endblock %}
