{% extends "base.html" %}
{% block title %}Conrad's Portfolio - Home{% endblock %}
{% block content %}
<div class="hero-main">
    <div class="hero-text">
        <h1 id="awesome" class="landing-text">Welcome To My Website</h1>
        <p id="description" class="landing-text">My name is Conrad Uyakonwu, I am a third-year at the University of Chicago.</p>
        <span id="images">
            <a href="https://github.com/cuyakonwu"><img class="landing-pics" src="{{ url_for('static', filename='img/github-logo.png') }}" alt="github logo"></a>
            <a href="https://www.linkedin.com/in/conrad-uyakonwu/"><img src="{{ url_for('static', filename='img/linkedin-logo.png') }}" class="landing-pics" alt="linkedin logo"></a>
            <a href="mailto:conraduyakonwu@gmail.com"><img class="landing-pics" src="{{ url_for('static', filename='img/envelope.png') }}" alt="email"></a>
            <a href="https://docs.google.com/document/d/12RKPHgFBtbc_EJfbsAZnumF4mtCi9s_tJLgaHcByKeo/edit?usp=sharing" id="resume-link"><img class="landing-pics" src="{{ url_for('static', filename='img/text-file.png') }}" alt="Resume"></a>
        </span>
    </div>
    <img src="{{ url_for('static', filename='img/headshot.jpeg') }}" id="headshot" alt="Headshot">
</div>
{% endblock %}